div.ctools-collapsible-container.dbinfo-fix-seq {
  clear: both;
}
div.ctools-collapsible-content table.dbinfo-table-width {
  max-width: 50%;
}
.dbinfo-conn-test.error {
  background: transparent url('/misc/message-16-error.png') left no-repeat;
  padding-left: 25px;
}
